
/* Font family */

@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Montserrat:wght@300;400;500&family=Sora:wght@300;400;500;600;700&display=swap");

:root {
   /* Color */

   --white: #ffffff;
   --yellow-0: #ffcc33;
   --yellow-1: #fea700;
   --headprimal: #161834;
   --iconprimal: #7b32bb;
   --primary-100: #007aff;
   --primary-90: #1e6de5;
   --primary-80: #1b61cc;
   --primary-70: #1755b2;
   --primary-40: #0d3166;
   --primary-20: #071833;
   --secondary-100: #21ffff;
   --secondary-20: #073333;
   --neutral-100: #fafcff;
   --neutral-98: #f2f5fa;
   --neutral-95: #e9ecf2;
   --neutral-90: #dadfe5;
   --neutral-80: #c2c6cc;
   --neutral-60: #919499;
   --neutral-50: #797c80;
   --neutral-40: #616366;
   --neutral-30: #494a4d;
   --neutral-20: #303133;
   --neutral-10: #18191a;
   --neutral-5: #0c0c0d;
   --error-100: #ff2134;

   /* font size */

   --fs-base: 62.5%;
   --fs-headline-large: 3.6rem;
   --fs-headline-medium: 2.8rem;
   --fs-headline-small: 2.8rem;
   --fs-title-large: 2.2rem;
   --fs-title-medium: 2rem;
   --fs-title-small: 1.8rem;
   --fs-body-large: 1.6rem;
   --fs-body-medium: 1.6rem;
   --fs-label-large: 1.6rem;
   --fs-label-medium: 1.4rem;

   /* line height */

   --lh-headline-large: 44px;
   --lh-headline-medium: 36px;
   --lh-headline-small: 36px;
   --lh-title-large: 28px;
   --lh-title-medium: 24px;
   --lh-title-small: 24px;
   --lh-body-large: 24px;
   --lh-body-medium: 24px;
   --lh-label-large: 24px;
   --lh-label-medium: 20px;

   /* font weight */

   --weight-bold: 700;
   --weight-semiBold: 600;
   --weight-regular: 400;

   /* letter spacing */

   --traking-n-025: -0.25px;
   --traking-p-05: 0.5px;

   /* border radius */

   --radius-small: 8px;
   --radius-medium: 12px;
   --radius-large: 16px;
   --radius-extra-large: 32px;
   --radius-full: 1000px;
   --radius-circle: 50%;

   /* box shadow */

   --shadow-1: 0px 2px 4px 0px #00000033;
   --shadow-2: 0px 5px 10px 0px #0000000d;
   --shadow-3: 0px 5px 10px 0px #00000033;
   --shadow-4: 0px 10px 20px 0px #0000001a;

   /* transitions */

   --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
   --transition-duration-quick: 200ms;
   --transition-duration-smooth: 500ms;
}


/* Global */

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a,
img,
input,
select,
button {
   display: block;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   height: auto;
}

input,
button,
select {
   background: none;
   border: none;
   font: inherit;
}

button {
   cursor: pointer;
}

input,
select {
   width: 100%;
   outline: none;
}

address {
   font-style: normal;
}

select {
   appearance: none;
   -webkit-appearance: none;
   -moz-apearance: none;
}

html {
   font-family: "Sora","Montserrat", sans-serif;
   font-size: var(--fs-base);
   scroll-behavior: smooth;
   /* image problem for scroll */
   /* overflow-x: hidden; */
}

body {
   background-color: var(--neutral-98);
   color: var(--neutral-5);
   font-size: var(--fs-body-medium);
   line-height: var(--lh-body-medium);
}

::-webkit-scrollbar {
   width: 12px;
}
::-webkit-scrollbar-track {
   background-color: var(--neutral-90);
}
::-webkit-scrollbar-thumb {
   background-color: var(--neutral-60);
   border-radius: 4px;
}

/* typography */

.headline-large {
   font-size: var(--fs-headline-large);
   line-height: var(--fs-headline-large);
   font-weight: var(--weight-bold);
   letter-spacing: var(--traking-n-025);
}
.headline-medium {
   font-size: var(--fs-headline-medium);
   line-height: var(--fs-headline-medium);
   font-weight: var(--weight-bold);
}
.headline-small {
   font-size: var(--fs-headline-small);
   line-height: var(--fs-headline-small);
   font-weight: var(--weight-bold);
}
.tilte-large {
   font-size: var(--fs-title-large);
   line-height: var(--fs-title-large);
   font-weight: var(--weight-semiBold);
}
.tilte-medium {
   font-size: var(--fs-title-medium);
   line-height: var(--fs-title-medium);
   font-weight: var(--weight-bold);
}
.tilte-small {
   font-size: var(--fs-title-small);
   line-height: var(--fs-title-small);
   font-weight: var(--weight-semiBold);
}
.body-large {
   font-size: var(--fs-body-large);
   line-height: var(--fs-body-large);
   font-weight: var(--weight-regular);
}
.body-medium {
   font-size: var(--fs-body-medium);
   line-height: var(--fs-body-medium);
   font-weight: var(--weight-regular);
}
.label-medium {
   font-size: var(--fs-label-medium);
   line-height: var(--fs-label-medium);
   font-weight: var(--weight-semiBold);
   letter-spacing: var(--traking-p-05);
}

.label-small {
   font-size:  11px ;
   font-weight: 100;
   letter-spacing: var(--traking-p-05);
}

/* Reused Style */

.material-symbols-rounded {
   display: block;
   width: 1em;
   height: 1em;
   overflow: hidden;
   font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
   padding-inline: 16px;
   max-width: 450px;
   width: 100%;
   margin-inline: auto;
}


.loyalty-card .location .location-btn:where(:hover),
.loyalty-card .loyalty-join-btn:where(:hover),
.hero .more-btn:where(:hover),
.cooperation .detail-btn:where(:hover),
.about-us-div .read-news-btn:where(:hover)  {
   opacity: 0.9;
}



/* button */
/* start peida kardan location baraye 992px */
.header .container .navbar-wrapper-992 {
   display: none;
}
/* end peida kardan location baraye 992px */

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   height: 38px;
   padding-inline: 24px;
   border-radius: var(--radius-full);
   max-width: max-content;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-fill {
   background-color: var(--yellow-1);
   color: var(--headprimal);
   margin-top: 6px;
   margin-bottom: 6px;
}

.btn-fill:where(:hover, :focus) {
   background-color: var(--neutral-30);
   color: var(--neutral-100);
}

.btn-fill:where(:active, :focus-visible) {
   background-color: var(--neutral-20);
}



/* icon btn */

.icon-btn {
   width: 40px;
   height: 40px;
   display: grid;
   place-items: center;
   background-color: var(--headprimal);
   color: var(--yellow-0);
   border-radius: var(--radius-small);
   box-shadow: var(--shadow-3);
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.icon-btn:where(:hover, :focus-visible) {
   color: var(--yellow-1);
}

/* header  */

.header {
   position: fixed;
   top: 0;
   left: 0;
   padding-right: 10%;
   padding-left: 10%;
   width: 100%;
   height: 90px;
   z-index: 4;
}

.header.active {
   animation: slide-in 500ms ease forwards;
   height: 60px;
   background-color: var(--headprimal);
}

@keyframes slide-in {
   0% {
      transform: translateY(-100%);
   }
   100% {
      transform: translateY(0);
   }
}

.header .container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.nav-toggle-btn .close,
.nav-toggle-btn.active .open {
   display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
   display: block;
}
/* check it later */
.navbar {
   position: absolute;
   top: 85%;
   right: 16px;
   background-color: var(--headprimal);
   min-width: 250px;
   padding: 15px;
   box-shadow: var(--shadow-1);
   visibility: hidden;
   opacity: 0;
   scale: 0.4;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
   transform-origin: top, right;
   z-index: 4;
}

.navbar.active {
   visibility: visible;
   opacity: 1;
   scale: 1;
}

.navbar,
.navbar-list,
.navbar-wrapper {
   display: grid;
   gap: 12px;
}

.navbar-link {
   color: var(--neutral-100);
   padding: 6px 12px;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
   border-block-end: 1px solid var(--neutral-90);
   padding-block-end: 14px;
}

.navbar-link:where(:hover, :focus-visible),
.navbar-link.active {
   color: var(--yellow-0);
}

.navbar .btn {
   min-width: 100%;
}

/* hero */

.hero {
   position: absolute;
   background-color: var(--headprimal);
   height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding-block: 90px;
   isolation: isolate;
   border-bottom-left-radius: 60px ;
   animation: slowdown 500ms ease forwards;
}

@keyframes slowdown {
   0% { transform:translateY(-100%) ;}
   100% { transform: translateY(0);}
}

.hero .container {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

/* --------------- */

.hero .container .imageholder {
   position: absolute;
   /* position: relative; */ 
   top: 90px;
   height: 450px;
   padding: 0 3em 0 3em ;
}



.container .shopping {
   /* width: 100%; */ 
   height: 450px;
   /* max-width: 580px; */
   /* max-height: 550px; */
   object-fit: cover;
   object-position: left top ;
   border-bottom-right-radius: 60px;
   visibility: hidden;
   opacity: 0;
   scale: 0.4;
   animation: show-up 800ms ease-in-out forwards;
}
/* start of resizing shopping img */

/* .img-holder {
   aspect-ratio: var(--width) / var(--height);
   overflow: hidden;
   position: relative;
}
.shopping {
   width: 100%;
   height: 100%;
   object-fit: cover;
} */

/* end of resizing shopping img */

@keyframes show-up {
   0% { 
      visibility: hidden;
      opacity: 0;
      scale: 0.4;
      }
   100% { visibility: visible;
      opacity: 1;
      scale: 1;
   }
}

.hero .container .product {
   position: absolute; 
   display: grid;
   align-items: center;
   margin:  3em 2em 2em 0.1em ;
   background-color: var(--neutral-100);
   border-radius: 30px 0 30px 0;
   width: 210px;
   height: 240px; 
   animation: show-up 800ms ease-in-out forwards;
}

.hero .container .product-item {
   border-radius: 30px 0 30px 0;
   width: 100%;
   height: auto;
}

.price .price-of-product {
   position: absolute;
   padding-left: 22px;
   padding-top: 13px;
   background-color: var(--yellow-1);
   bottom: 150px;
   border-radius: 30px 0 0 0;
   width: 140px;
   height: 70px;
   animation: show-up 1450ms ease-in-out forwards;
}

.price .kilo {
   display: inline;
}
.product h3 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.product .more-btn {
   background-color: var(--yellow-1);
   height: 34px;
   width: 80px;
   margin-left: 35%;
   margin-bottom: 10px;
   gap: 12px   ;
   border-radius: var(--radius-large);
}

.info {
   padding-block-start: 580px;
   padding-block-end: 50px;
}

.info .company-intro {
   margin-block: 15px 16px;
   font-size: var(--fs-title-large);
   color: var(--neutral-5);
}

.info .label-company {
   color: var(--yellow-0);
   margin-bottom: 20px;
}

.info .container .schedule {
   margin-block: 45px;
}
.info .container .h3-schedule {
   font-size: var(--fs-title-small);
   display: flex;
   line-height: 1.3em;
}

.info .container .day-of-working{
   padding-top: 10px;
   font-weight: 600;
   color: var(--yellow-0);
}

.info .container .hour {
   color: var(--neutral-10);
   font-weight: 600;
}

.info .container .schedule-icon {
   vertical-align: top;
   font-size: 60px;
   margin-right: 10px;
   color: var(--yellow-1);
}

.info .data-meta-item .meta-item .meta-item-img {
   /* margin-bottom: 20px; */
   padding-block-end: 2vh;
}
.info .data-meta-item .meta-item {
   /* margin-block: 50px; */
   /* padding-block: 20px; */
   padding: 20px 0 15px 0;
   display: grid;
   text-align: center;
   flex-wrap: wrap;
}

.meta-item-p {
   font-size: 13px;
}

/* loyalty */

.loyalty-card .section-wrapper {
   width: 100%;
   margin-bottom: 20px;
}

.loyalty-card .loyalty-card-info-pic {
   width: 100%;
}

.loyalty-card .container .loyalty-join-btn {
   margin-top: 20px;
   background-color: var(--neutral-5);
   color: var(--neutral-100);
   display: inline;
   padding: 10px 35px;
   border-radius: var(--radius-extra-large);
   font-weight: 600;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}


.loyalty-card .loyalty-location-pic {
   position: relative;
   margin-block-start: 30px;
   width: 100%;
   height: auto;
}

/* location va loyalty-location-address baraye ine ke browser ke resize mishe bar hasbe browser biad change she . 
dar in location ma width 100% midim ke parent hast va dar div e ke info gharar dare size max-width 350px dadim 
be hamrahe margin .
baraye inke az paeen e pic - div e ma bezane biroon ham height : fit-content gozashtim .
*/
.loyalty-card .location {
   margin-top: -150px;
   width: 100%;
}
.loyalty-card{
   margin-bottom: 33vh;
}
/* age position absolute ro dar location bezarim margin right dorost kar nemikone */
.loyalty-card .loyalty-location-address {
   position: absolute;
   background-color: var(--headprimal);
   color: var(--neutral-100);
   /* max-width: 350px; */
   width: 350px;
   margin-left: 30px;
   margin-right: 40px;
   /* height: fit-content; */
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   padding: 30px;
}

.loyalty-card .location-heading {
   display: inline; 
   margin-right: 39%;  
}

.loyalty-card .location-on {
   /* width: auto; */
   font-size: 27px;
   color: var(--yellow-1);
   vertical-align: middle;
}

.loyalty-card .loyalty-location-address .address-location {
   font-size: 14px;
   margin: 12px 0 12px 0;
}

.loyalty-card .location .location-btn {
   /* margin-left : auto vase in bod ke btn ma samte rast nemiraft */
   background-color: var(--yellow-1);
   width: fit-content;
   margin-top: 20px;
   margin-left: auto;
   margin-right: 15px;
   padding: 10px 35px;
   border-radius: var(--radius-extra-large);
   color: var(--neutral-5);
   font-weight: 600;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

/* Cooperation */

.cooperation {
   background-color: var(--headprimal);
   border-top-left-radius: 40px;
   padding: 80px 55px 0 55px;
}

.cooperation .cooperation-section {
    text-align: center;
   color: var(--neutral-100);
}

.cooperation .cooperation-paragraph {
   font-size: 12px;
   color: #c5afd7;
   padding: 20px
}

.cooperation .cooperation-contact {
   line-height: 1.2;
   margin-bottom: 20px;
}

.cooperation .cooperation-req {
   color: var(--yellow-1);
   font-size: 12px;
   margin-bottom: 100px;
}
.cooperation .cooperation-req:where(:hover, :focus) {
   color: var(--yellow-0);   
   text-decoration: underline;
}

.cooperation .arrow-right {
   font-size: 20px;
   vertical-align: middle;
}

.cooperation .cooperation-town {
   display: flex;
   justify-content: center;
   margin-bottom: 60px;
}

.cooperation .country {
   padding: 10px;
}


.cooperation .detail-btn-hold{
   margin-top: 15px;
}

.cooperation .detail-btn {
   background-color: var(--yellow-1);
   color: var(--neutral-5);
   font-weight: 500;
   padding: 10px 35px;
   border-radius: var(--radius-extra-large);
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.cooperation .cooperation-image {
   margin-top: 30px;
   width: 100%;
}

/* about us */

.about-us-section .about-us-div {
   margin-top: 90px;
   margin-bottom: 90px;
}

.about-us-section .about-us-div .read-more-blog {
   color: var(--yellow-1);
   font-size: var(--fs-label-medium);
}

.about-us-section .about-us-div .read-more-about {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-bottom: 20px;
}

.about-us-div .img-holder {
   aspect-ratio: var(--width) / var(--height);
   background-color: var(--neutral-80);
   overflow: hidden;
}

.about-us-div .img-cover {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about-us-div .card {
   border-radius: var(--radius-large);
   overflow: hidden;
   box-shadow: var(--shadow-2);
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
   /* margin-bottom: 20px; */
}

.about-us-div .card:where(:hover, :focus-within) { 
   box-shadow: var(--shadow-4);
}

.about-us-div .card-banner { position: relative;}

.about-us-div .card-banner .img-cover {
   transition: var(--transition-duration-smooth) var(--transition-easing-quick);
}

.about-us-div .card:where(:hover, :focus-within) .img-cover {
   scale: 1.05;
   rotate: 2deg;
}

.about-us-div .card :where(.fav-btn) {
   position: absolute;
   top: 20px;
}

.about-us-div .card .fav-icon {
   font-size: 15px;
   vertical-align: middle;
}

.about-us-div .card .fav-btn {
   background-color: #272727;
   color: var(--neutral-90);
   right: 30px;
   border-radius: var(--radius-medium);
   font-size: 11px;
   padding: 4px 10px;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.about-us-div .fav-icon { color: var(--white);}

.about-us-div .fav-btn.active .material-symbols-rounded {
   font-variation-settings: 'FILL' 1;
}

.about-us-div .card-content {
   padding: 30px 45px 30px 45px;
}

.about-us-div .category {
   background-color: var(--neutral-90);
   color: var(--neutral-40);
   padding: 5px 10px;
   width: fit-content;
   border-radius: var(--radius-large);
   font-size: 12px;
   transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.about-us-div .card-content .category:where(:hover, :focus) {
   color: var(--neutral-5);
}

.about-us-div .card-content .category:where(:active, :focus-visible) {
   background-color: var(--neutral-60);
}

.about-us-div .card-content .card-title {
margin-block: 18px;
color: var(--neutral-20);
transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.about-us-div .card-content .card-text { 
   color: var(--neutral-40);
   font-size: 12px;
   font-weight: 100;
}

.about-us-div .card .card-title:where(:hover, :focus-visible) { color: var(--primary-100); }

.about-us-div .card .card-history {
   padding-block-start: 16px ;
   margin-block-start: 16px;
   border-block-start: 1px solid var(--neutral-90);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 12px ;
}

.about-us-div .card .history-item {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
   color: var(--neutral-20);
}

.about-us-div .card .history-icon {
   vertical-align: middle;
}

:is(.history-text, .history-icon):is(:hover, :focus-visible){
   color: var(--yellow-0);
   text-decoration: underline;
}

.store-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 16px ;
}

.about-us-div .read-news-btn {
   margin: 65px 0 0 0;  
    background-color: var(--yellow-1);
    color: var(--neutral-5);
    position: relative;
    /* change position to middle */
    justify-self: center;
    text-align: center;
    width: fit-content;
    padding: 15px 35px;
    font-weight: 500;
    border-radius: var(--radius-extra-large);
    transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

/* footer */

.footer {
   background-color: var(--headprimal);
   color: var(--neutral-100);
}

.footer-top .container {
   padding-block: 90px;
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 24px  ;
}

.footer-top .logo {
   padding-left: 50px;
}

.footer-top .number,
.footer-top .email-franchise {
   font-weight: 600;
}

.footer-top .email-franchise {
   margin-block: 20px;
}


:is(.email-franchise, .number-franchise):is(:hover, :focus) {
   color: var(--primary-100);
}

.footer-top .footer-text {
   color: var(--neutral-60);
}

.footer-top .footer-list-title {
   margin-block-start: 40px;
   margin-block-end: 15px;
   color: var(--yellow-1);
}

.footer-list{
   display: grid;
   gap: 5px;
}

.footer-link { transition: var(--transition-duration-quick) var(--transition-easing-quick);}

.footer-link:where(:hover, :focus-visible) {
   color: var(--primary-100);
   text-decoration: underline;
}

.footer-bottom {
   border-block-start: 1px solid var(--neutral-20);
}

.footer-bottom .container {
   padding-block-start: 30px;
   color: var(--neutral-100);
}
.footer-bottom .copyright{
   font-size: 9px;
}
.footer-bottom .copyright a {
   display: inline;
   font-weight: 600;
}

.footer-bottom .copyright a:where(:hover, .focus) {
   color: var(--primary-100);
   text-decoration: underline;
}

.footer-bottom .footer-bottom-list {
   display: flex;
   justify-content: center;
}

.footer-bottom .footer-bottom-list li{
   padding-inline: 10px;
}

.footer-bottom .footer-bottom-list li:not(:last-child) {
   border-right: 1px solid var(--neutral-20);
}

.footer-bottom .footer-bottom-list li :where(:hover, .focus) {
   color: var(--primary-100);
   text-decoration: underline;
}

.footer-bottom .owl-img {
   margin-left: -55px; 
}


/* responsive for larger than 768px screen */

@media screen and (min-width: 768px) {
 :root {
      /* font size */
       --fs-headline-large: 5rem;
       --fs-headline-medium: 4rem;
       --fs-headline-small : 3rem;
       --fs-title-medium : 2.4rem;
       --fs-title-small : 2rem;
       --fs-label-medium : 1.5rem;
   
       /*  line height */
       --lh-headline-large: 64px;
       --lh-headline-medium: 52px;
       --lh-headline-small: 48px;
   }

   .header.active .log {
      scale: 0.8;
   }
   

       .container {
           max-width: 720px;
       }
   
       .hero {
           height: 700px;
       }

       
   
       .info {
           padding-block-start: 90vh;
       }

   .hero .container .shopping {
       width: 720px;
       height: 680px;
   }
   
   .hero .container .product {
   
       width: 290px;
       height: 330px;
   }
   
   .hero .container .price .price-of-product {
       width: 160px;
       bottom: 280px;
   }
   
   .hero .container .more-btn {
      border-radius: var(--radius-full);
      
       margin-left: 27%;
       height: 50px;
      width: 140px;
   }

   .info .container .company-intro {
      font-size: 2.6rem;
   }

   .title-wrapper {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
      gap: 40px;
      margin-block-end: 40px;
   }

   .data-meta-item {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
   }

   .data-meta-item .meta-item p,
   .data-meta-item .meta-item h3 {
      text-align: left;
      padding-top: 20px;
   }
   .loyalty-card{
      margin-block-end: 180px;
   }
   .loyalty-card .loyalty-card-info {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
   }

   .loyalty-card .loyalty-join {
      order: 1;
   }

   .loyalty-card .container .location-pic .loyalty-location-address{
      margin-left: 30px;
      width: 280px;
   }

   .loyalty-card .container .location-pic .location-heading {
      margin-right: 0;
   }



.cooperation-section {
   display: grid;
   grid-template-columns: repeat(2,1fr);  
   
}

.cooperation .container p,
.cooperation .container h2 {
   text-align:left ;
   padding-left: 0;
   /* margin-right: 60px;  */
}


.cooperation .container .cooperation-image {
   grid-column: 2 /-1;
   align-self: flex-end;
}

.cooperation .container p{
   padding-right: 180px;
}

.cooperation .screen-700 {
   display: grid;
   grid-template-columns:  repeat(3,1fr );
}

.cooperation .container .cooperation-town-pic {
   width: 120px;
   height: 160px;
   margin-right: 40px;
   margin-block-start: 40px;
}

.cooperation .container .town-number {
   margin-block-start: 120px;
   width: 200px;
   text-align: left;
}
/* nemikham ba kochik shodan page pic cooperation-image harekat kone */

.cooperation .container .town-number h3{
   color: #d0c9ff;
}
.cooperation .container .cooperation-contact {
   text-align: center;
}
.cooperation .container .country{
   padding-left: 0;
   font-size: 13px;
}

.about-us-section .store-list {
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.about-us-section .store-list .card-content .category{
   margin-left: 30px;
   /* chetor bedone margin-left in ro mishe harekat dad ? */
}

/* .about-us-section .store-list  */

.about-us-section .store-list .card-content {
   padding-left: 20px;
   text-align: left;
}
/* dar card ha vasatie kami balatar hast */
.about-us-section .container .read-news-btn {
   line-height: var(--fs-headline-small);
   grid-column: 2 / -2;
}

.footer-brand {
   grid-column: auto;
}

.footer-top .container{
   grid-template-columns: 300px repeat(2, 1fr);
   text-align: left;
   /* margin-right: 20px; */
   gap: 50px;
}
.footer .footer-top .logo {
   padding-left: 0;
}

.footer .footer-top .number-franchise .number {
   font-size: 14px;
}

.footer .footer-top .footer-text {
   font-size: 13px;
   color: #c2c6cc;
   padding-right: 100px;
}

.footer .footer-top .footer-nav {
   text-align: left;
   align-self: flex-start;
}

.footer .footer-bottom {
   padding: 0 80px;
}
.footer .footer-bottom .copyright {
   padding-left: 50px;
   font-size: 12px;
}
.footer .footer-bottom .owl-img {
   margin-top: -45px;
   margin-left: -100px;
} 

   }


   /* responsive for larger than 992px screen */

   @media screen and (min-width:992px) {

      .header.active .log {
         scale: 0.8;
      }
   

      .container {
         max-width: 950px;
      }
      .header .container {
         display: grid;
         /* vase inke bessorate ofoghi neshon bede navbar maro */
         grid-auto-flow: column;
         grid-template-columns: 1fr;
         /* browser ma resize ke mishe jaye eleman ha taghir nemikone */
      }

      .header .container .navbar-wrapper {
         display: block;  
         padding: 10px;
      }

   
      .hero .container .shopping {
         width: 950px; 
     }


     .hero .container .product {
      max-width: 290px;
      width: 100%;
      left: calc(60% + 20px);
      
  }
  
  .hero .container .price .price-of-product {
   max-width: 160px;
   width: 100%;
   left: calc(60% + 23px);
      
  }
     
  
  .loyalty-card .container .location-pic .loyalty-location-address{
   width: 380px;
}


.loyalty-card .container .location-pic .location-on {
   margin-left: 80px;
}

.cooperation .container .cooperation-town-pic {
   width: 150px;
   height: 210px;
   margin-right: 40px;
   margin-block-start: 40px;
}
.cooperation .container h2{
   padding-right: 100px;
}
.cooperation .container p{
   padding-right: 270px;
}
.about-us-section .store-list .card-content .category{
   margin-left: 70px;
}
.about-us-section .container .read-news-btn {
   max-width: 250px;
   width: 100%;
}
.footer-top .container{
   gap: 130px;
}

   }


   /* responsive for larger than 1440px screen */

@media screen and (min-width: 1440px) {


   :root {

      /* typography */

      /* font size */

      --fs-headline-large: 4.5rem;
      --fs-headline-medium: 3.5rem;
      --fs-tilte-medium:3.1rem;
      --fs-tilte-small: 2.5rem;



      /* line height */

      --lh-headline-large: 92px;
      --lh-headline-medium: 72px;
   }

   .header.active .log {
      scale: 0.8;
   }

   .nav-toggle-btn {
      display: none;
   }

   .header .container .navbar-wrapper-992 {
      display: none ;
   }

   .navbar,
   .navbar-wrapper,
   .navbar-list {
      all:unset;
      display: flex;
      align-items: center;
   }

   .navbar ,
   .navbar-list {
      flex-grow: 1;
   }

   .navbar-list { justify-content: center;}

   .navbar-link {
      color: var(--neutral-100);
      line-height: 48px;
   }

   .navbar-link { 
      padding: 0 24px;
      border: none;
   }

   .navbar-link.active { position: relative;}

   .navbar-link.active::before{
      content: "";
      position: absolute;
      left: 50%;
      translate: -50% 0;
      bottom: 8px;
      width: 4px;
      height: 4px;
      border-radius: var(--radius-circle);
      background-color: var(--yellow-1);
   }

.navbar .btn {
      min-width: max-content; 
}

.navbar-wrapper { gap: 20px;}

 .header .container {
   max-width: 1100px;
   /* width: 100%; */
 }
.header {
   height: 110px;
}
.header.active {
   height: 70px;
}
 .hero .container .imageholder {
   /* max-width: 1050px; */
 }

.hero .container .shopping {
   position: absolute;
   top: 5%;
   left: 50%;
   translate: -50%;
   width: 1350px;
   height: 790px;
   /* z-index: 1; */
}

.hero .container .product-item {
   /* position: absolute; */
   /* object-fit: contain; */
   /* height: 200px; */
   /* background-position-x: 83.333%; */
   /* background-position-y: 50%; */
   /* scale: 1.2; */
   
/* object-fit: none; */
}

.hero .container .product {
   max-width: 360px;
   height: 390px;
   width: 100%;
   left: calc(60% + 20px);
}

.hero .container .price .price-of-product {
max-width: 200px;
width: 100%;
top: 49%;
height: 100px;
left: calc(60% + 23px);
font-size: 30px;
font-weight: 600;
text-align: center;

}
.hero .container .price .price-of-product .kilo {
   font-size: 22px;
}

.hero .container .product .more-btn {
   margin-left: 31%;
}
.hero .container .product .label-medium {
   font-weight: 600;
    vertical-align: middle;
    font-size: 25px;
}

 .info {
   /* margin-block-start: 100px; */
   padding-block-start: 105vh;
}

.info .container {
   max-width: 1100px;
}

.info .container .company-intro {
   font-size: var(--fs-headline-medium);
   line-height: 4rem;
   font-weight: 600;
}
.info .container .schedule  {
   margin-right: 170px;
}

.info .container .day-of-working,
.info .container .hour {
   font-size: 24px;
}
.info .container .day-of-working{
   color: var(--yellow-1);
   line-height: 3.5rem;
}

.info .container .schedule-icon{
   align-self: flex-end;
   padding-right: 70px;
}

.info .container .meta-item-h3 {
   font-size: var(--fs-tilte-small);
   padding-right: 35px;
   line-height: 3.5rem;
}

.loyalty-card .container {
   max-width: 1130px;
}

.loyalty-card .container .tilte-medium {
   font-size: var(--fs-tilte-medium);
   line-height: 4rem;
}

.loyalty-card .container .location-pic .loyalty-location-address{
   width: 480px;
}


.loyalty-card .container .location-on{
   margin-left: 150px !important;
   font-size: 34px;
}




}